@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
       
    }
    .logo{
        text-align: center;
    }
    nav ul{
        flex-direction: column;
        margin-top: 20px;
    }
    nav ul li {
        text-align: center;
    }

    /* banner */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .banner-image{
        margin: 50px 0;
    }
    .banner-image img{
        padding: 0;
    }

    /* sponsors */
    .sponsors-container{
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        
    }
    .sponsors-container img{
        width: 45px;
        margin: auto;

    }
}

@media screen and (min-width:576px) and (max-width:993px) {
    .nav-container{
        justify-content: space-between;
    }
    .sponsors-container{
        padding: 0 10px;
        
    }
    .sponsors-container img{
        width: 50px;
        margin: auto;
    }
}